<!-- ======Card start===== -->
<div class="ups-card card{{#if class}} {{class}}{{/if}}">
    {{#if img}}
    <div class="card-img">
        {{#if img}}{{>img alt=img.alt src=img.src class=""}}{{/if}}
        {{#if hero}}<!-- Curve would we optional --><svg class="card-arc" aria-hidden="true" viewBox="0 0 720 154">
            <g transform="translate(0,154) scale(0.1,-0.1)" fill="currentColor" stroke="none">
                <path d="M0 771 l0 -771 3600 0 3600 0 0 21 c0 22 -91 68 -460 236 -1242 565
-2602 920 -4270 1117 -692 82 -1337 128 -2287 162 l-183 6 0 -771z" />
            </g>
        </svg>{{/if}}
    </div>{{/if}}
    <div class="card-content">
        <div class="card-body-content">
            <!-- ======RichTextEditor content start===== -->
                {{{body}}}
            <!-- ======RichTextEditor content end===== -->
        </div>
    </div>
</div>
<!-- ======Card end===== -->