<!DOCTYPE html>
<html lang="{{lang}}" dir="{{dir}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div class="iw_viewport-wrapper">
        <!--==Main Body Start==-->{{{body}}}<!--==Main Body Ends==-->
    </div>
</body>
</html>